.container {
  height: 6rem;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DCE2E5;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;

  h1 {
    color: #123952;
  }

  div.controls {
    display: flex;

    .links {
      display: flex;
      align-items: center;
    }

    button {
      margin-left: 0.5rem;
    }
  }
}