.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F5F8FA;
}

.content {
  flex: 1;
  width: 100%;  
  padding: 3rem 1.5rem;
  overflow-y: auto;

  .subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 620px) {
      flex-direction: column;
      align-items: flex-start;
    }

    h1 {
      color: #123952;
      font-size: 2rem;
    }
  }
}


.dataContainer {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;

  div {
    margin-top: 1rem;
  }

  hr {
    margin: 1.5rem;
  }

  a {
    margin-top: 1rem;
  }
}