.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    padding: 1.5rem;
    width: 100%;
    max-width: 540px;    

    h1 {
      margin-bottom: 2.5rem;
    }

    .inputContainer {
      margin-bottom: 0.6rem;
    }

    .linkButtonContainer {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .createAccountButtonContainer {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
    }
  }
}

